
.book-list-image{
    height: 250px;
    display:block;
    margin:auto;
    max-width: 100%;
}

.book-detail-image{
    max-width:400px;
    margin-top: 20px;
}

.book-detail-key{
    margin-left: 10px;
}

.book-detail{
    margin-bottom: 10px;
}