<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
hey man, I do wonderful job for you<br>
this is your email address: {{ email }}

<br>
<a href="/accounts/logout">
   <button>logout</button>
</a>
</body>
</html>