
{% extends 'profile_base.html' %}
{% load static %}
{% block profile_content %}
    <div class="col-lg-10" style="margin-right: 5%">
        <section class="panel">
            <div class="invitation-code-pan">اعتبار حساب:     {{ balance.asset }}</div>
            <div class="panel-body">
                <form class="form-horizontal tasi-form" href="{% url 'credit-card-view' %}" method="post">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">مبلغ:</label>
                        <div class="col-sm-5">
                            <input id="id_asset" type="number" class="form-control" autofocus name="asset">
                            <span class="error-block">{{ form.asset.errors }}</span>
                        </div>
                        <button class="col-sm-2 btn btn-shadow btn-success" type="submit">افزایش اعتبار</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}