{% extends 'profile_base.html' %}
{% load static %}
{% block profile_content %}
                <div class="row" style="margin-right: 20%">
                  <div class="col-md-8">
                    <div class="thumbnail">
                        {% if book.image %}
                            <img class="book-detail-image" src="{{ book.image.url }}" alt="{{ book.title }}">
                        {% else %}
                            <img class="book-detail-image" src="{% static 'img/default_book_pic.jpg' %}" alt="{{ book.title }}">
                        {% endif %}
                        <div class="caption" style="text-align: center">
                            <div class="book-detail">
                                <span class="book-detail-key">عنوان:</span><span>{{ book.title }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">رده سنی:</span><span>{{ book.get_age_range_display|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">نویسنده:</span><span>{{ book.writer|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">سبک:</span><span>{{ book.get_genre_display|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">کلیدواژه ها:</span><span>{{ book.key_words|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">تاریخ انتشار:</span><span>{{ book.release_date|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">ابعاد:</span><span>{{ book.get_size_display|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">تعداد صفحات:</span><span>{{ book.volume_number|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">توضیحات:</span><span>{{ book.description|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">خلاصه:</span><span>{{ book.summary|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">هزینه امانت هفتگی:</span><span>{{ book.weekly_price|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">ارزش کتاب:</span><span>{{ book.original_price|default_if_none:"" }}</span>
                            </div>
                            <div class="book-detail">
                                <span class="book-detail-key">وضعیت:</span><span>{% if book.is_borrowed %}امانت گرفته شده{% else %}موجود{% endif %}</span>
                            </div>
                          {% if book.owner.username == user.username  %}
                            <a class="btn btn-md btn-warning" href="{% url 'book:book-edit' pk=book.id %}">ویرایش</a>
                          {% elif not book.is_borrowed%}
                              {% for card in user.credit_card.all %}
                                  {% if card.asset < book.weekly_price %}
                                      <button class="btn btn-md btn-success" href="{% url 'registration_register' %}" disabled>درخواست امانت</button>
                                      <div style="color: darkred;font-weight: bold">اعتبار کافی نیست!</div>
                                  {% else %}
                                      <a class="btn btn-md btn-success" href="{% url 'book:borrow-a-book' pk=book.id %}">درخواست امانت</a>
                                  {% endif %}
                              {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
{% endblock %}