{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<ul>#}
{#{% for book in object_list %}#}
{#    <li>{{ book.release_date|date }} - {{ book.title }}</li>#}
{#{% empty %}#}
{#    <li>No articles yet.</li>#}
{#{% endfor %}#}
{#</ul>#}
{#</body>#}
{#</html>#}
{% extends 'profile_base.html' %}
{% load static %}
{% block profile_content %}
    <div class="row">
        {% for book in object_list %}
            <a href="{% url 'book:book-detail' pk=book.id %}">
              <div class="col-md-3" style="margin-top: 10px">
                    <div class="thumbnail">
                        <div>
                            {% if book.image %}
                                <img class="book-list-image" src="{{ book.image.url }}" alt="{{ book.title }}">
                            {% else %}
                                <img class="book-list-image" src="{% static 'img/default_book_pic.jpg' %}" alt="{{ book.title }}">
                            {% endif %}
                        </div>
                        <div class="caption" style="text-align: center;">
                          <p style="color: black">{{ book.title }}</p><br>
                          <a class="btn btn-md btn-primary" href="{% url 'book:book-detail' pk=book.id %}">مشاهده</a>
                        </div>
                    </div>
              </div>
            </a>
        {% empty %}
        <p>No books yet.</p>
        {% endfor %}
    </div>
{% endblock %}