{#{% extends "base.html" %}#}
{#{% load static %}#}
{##}
{#{% block title %}#}
{#    sina#}
{#{% endblock %}#}
{##}
{#{{% block content %}#}
{#<ul>#}
{#{% for borrow_object in object_list %}#}
{#    <li>{{ borrow_object.book }} - {{ borrow_object.date|date }}</li>#}
{#{% empty %}#}
{#    <li>No Borrowed item yet.</li>#}
{#{% endfor %}#}
{#</ul>#}
{#{% endblock %}#}

{% extends 'profile_base.html' %}
{% load static %}
{% block profile_content %}
    <div class="row">
        {% for borrow_object in object_list %}
            {% if not borrow_object.returned and borrow_object.borrower == user %}
                <a href="{% url 'book:book-detail' pk=borrow_object.book.id %}">
                  <div class="col-md-3" style="margin-top: 10px">
                        <div class="thumbnail">
                            <div>
                                {% if borrow_object.book.image %}
                                    <img class="book-list-image" src="{{ borrow_object.book.image.url }}" alt="{{ borrow_object.book.title }}">
                                {% else %}
                                    <img class="book-list-image" src="{% static 'img/default_book_pic.jpg' %}" alt="{{ borrow_object.book.title }}">
                                {% endif %}
                            </div>
                            <div class="caption" style="text-align: center;">
                              <p style="color: black">{{ borrow_object.book.title }}</p>
                              <p style="color: black">{{ borrow_object.date | date }}</p>
                              <p style="color: black">{{ borrow_object.book.owner.get_full_name }}</p><br>
                              <a class="btn btn-md btn-primary" href="{% url 'book:book-detail' pk=borrow_object.book.id %}">مشاهده</a>
                              <a class="btn btn-md btn-danger" href="{% url 'book:return-a-book' pk=borrow_object.book.id %}">پس دادن</a>
                            </div>
                        </div>
                  </div>
                </a>
            {% endif %}
        {% empty %}
        <p>No books yet.</p>
        {% endfor %}
    </div>
{% endblock %}