{% extends 'profile_base.html' %}
{% block profile_content %}
        {% if message != None %}
            <div class="alert alert-success alert-block fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <h4>
                    <i class="icon-ok-sign"></i>
                   کتاب با موفقیت برورسانی شد.
                </h4>
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <!-- page start-->
            <div class="col-lg-10" style="margin-right: 5%">
                <section class="panel">
                    <header class="panel-heading">
                    ویرایش کتاب
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal tasi-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% load widget_tweaks %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">عنوان</label>
                                <div class="col-sm-10">
                                    {{ form.title |add_class:"form-control"}}
{#                                    <input id="id_username" type="text" class="form-control" autofocus name="username" value="{{ object.username }}">#}
                                    <span class="error-block">{{ form.title.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">رده سنی</label>
                                <div class="col-sm-10">
                                    {{ form.age_range |add_class:"form-control"}}
                                    <span class="error-block">{{ form.age_range.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">نویسنده</label>
                                <div class="col-sm-10">
                                    {{ form.writer |add_class:"form-control"}}
                                    <span class="error-block">{{ form.writer.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">سبک</label>
                                <div class="col-sm-10">
                                    {{ form.genre |add_class:"form-control"}}
                                    <span class="error-block">{{ form.genre.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">کلیدواژه ها</label>
                                <div class="col-sm-10">
                                    {{ form.key_words |add_class:"form-control"}}
                                    <span class="error-block">{{ form.key_words.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">تاریخ انتشار</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" autofocus name="release_date" value="{{ object.release_date }}">
                                    <span class="error-block">{{ form.release_date.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ابعاد</label>
                                <div class="col-sm-10">
                                    {{ form.size |add_class:"form-control"}}
                                    <span class="error-block">{{ form.size.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">تعداد صفحات</label>
                                <div class="col-sm-10">
                                    {{ form.volume_number |add_class:"form-control"}}
                                    <span class="error-block">{{ form.volume_number.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">تصویر</label>
                                <div class="col-sm-10">
                                    {{ form.image |add_class:"form-control"}}
                                    <span class="error-block">{{ form.image.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">توضیحات</label>
                                <div class="col-sm-10">
                                    {{ form.description |add_class:"form-control"}}
                                    <span class="error-block">{{ form.description.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">خلاصه</label>
                                <div class="col-sm-10">
                                    {{ form.summary |add_class:"form-control"}}
                                    <span class="error-block">{{ form.summary.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">هزینه امانت هفتگی</label>
                                <div class="col-sm-10">
                                    {{ form.weekly_price |add_class:"form-control"}}
                                    <span class="error-block">{{ form.weekly_price.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ارزش کتاب</label>
                                <div class="col-sm-10">
                                    {{ form.original_price |add_class:"form-control"}}
                                    <span class="error-block">{{ form.original_price.errors }}</span>
                                </div>
                            </div>
                            <button class="btn btn-shadow btn-success" type="submit">ثبت</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->

{% endblock %}