{% extends 'profile_base.html' %}
{% block profile_content %}

        {% if message != None %}
            <div class="alert alert-success alert-block fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <h4>
                    <i class="icon-ok-sign"></i>
                    اطلاعات با موفقیت بروزرسانی شد.
                </h4>
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <!-- page start-->
            <div class="col-lg-10" style="margin-right: 5%">
                <section class="panel">
                    <div class="invitation-code-pan">کد دعوت شما:     {{ invitation_code }}</div>
                    <header class="panel-heading">
                    مشاهده اطلاعات کاربری
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal tasi-form"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">شماره موبایل</label>
                                <div class="col-sm-10">
                                    <span>{{ object.username }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ایمیل</label>
                                <div class="col-sm-10">
                                    <input id="id_email" type="email" class="form-control" name="email" value="{{ object.email }}">
                                    <span class="error-block">{{ form.email.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">نام</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" autofocus name="first_name" value="{{ object.first_name }}">
                                    <span class="error-block">{{ form.first_name.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">نام خانوادگی</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" autofocus name="last_name" value="{{ object.last_name }}">
                                    <span class="error-block">{{ form.last_name.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">تاریخ تولد</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" autofocus name="birth_date" value="{{ object.birth_date|default_if_none:"" }}">
                                    <span class="error-block">{{ form.birth_date.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">آدرس</label>
                                <div class="col-sm-10">
{#                                    {{ form.address |add_class:"form-control"}}#}
                                    <input type="text" class="form-control" autofocus name="address" value="{{ object.address|default_if_none:"" }}">
                                    <span class="error-block">{{ form.address.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">عکس پروفایل</label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" autofocus name="image" value="{{ object.image }}">
                                    <span class="error-block">{{ form.image.errors }}</span>
                                </div>
                            </div>
                            <button class="btn btn-shadow btn-success" type="submit">بروزرسانی</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->

{% endblock %}