<!DOCTYPE html>
{% load static %}

<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block meta %}
    {% endblock %}


    {% block css %}
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!--external css-->
        <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />
        <link href="{% static 'css/ketabyar.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" async></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}" async></script>
        <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript" async></script>
        <script src="{% static 'js/common-scripts.js' %}" async></script>
    {% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>