{%  load static %}
<!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo">کتاب<span>یار</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                {% comment searchpan %}
                    <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li>
                 {% endcomment %}
                    {% if user.is_authenticated %}
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                {% if user.image %}
                                    <img  width="25" height="25" alt="{{ user.first_name }}" src="{{ user.image.url }}">
                                {% else %}
                                    <img alt="" src="{% static 'img/avatar1_small.jpg' %}">
                                {% endif %}
                                <span class="username">{{ user.username }}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a href="{% url 'registration_logout' %}"><i class="icon-key"></i>خروج</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a class="" href="#">
                                <span class="username">اعتبار حساب: </span>
                                {% for x in user.credit_card.all %}
                                    <span class="username">{{ x.asset }}</span>
                                {% endfor %}
                            </a>
                        </li>
                        <!-- user login dropdown end -->
                        <li>

                            <form action="{% url 'book:book-search' %}" method="get">
                                <div class="input-group search-pan-div" style="display: inline;">
                                  <div class="input-group-btn" style="display: inline; padding-top: 0px;">
                                    <button  class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                  </div>
                                  <input style="display: inline; width: 150px; height: 30px;margin-top: 2px" type="text" class="form-control input-sm search-pan-input" placeholder="جستجو" name="query"/>
                                </div>
                            </form>

                        </li>
                    {% endif %}
                </ul>
                <ul>
                    <span>

                    </span>
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->