﻿{% load static %}

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="{% url 'book:book-list' %}">
                            <i class="icon-dashboard"></i>
                            <span>لیست کتاب ها</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="active">
                        <a class="" href="{% url 'book:my-books' %}">
                            <i class="icon-book"></i>
                            <span>کتاب های من</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="" href="{% url 'book:borrowed-book-list' %}">
                            <i class="icon-align-justify"></i>
                            <span>کتاب های امانت گرفته شده</span>
                        </a>
                    </li>

                    <li class="active">
                        <a class="" href="{% url 'book:book-add' %}">
                            <i class="icon-file-text-alt"></i>
                            <span>ثبت کتاب</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="" href="{% url 'edit-profile' %}">
                            <i class="icon-tasks"></i>
                            <span>پروفایل کاربری</span>
                        </a>
                    </li>
                    <li class="active">
                        <a class="" href="{% url 'credit-card-view' %}">
                            <i class="icon-dollar"></i>
                            <span>اعتبار حساب</span>
                        </a>
                    </li>
                    {% endif %}
{#                    <li class="sub-menu">#}
{#                        <a href="javascript:;" class="">#}
{#                            <i class="icon-book"></i>#}
{#                            <span>عناصر صفحه</span>#}
{#                            <span class="arrow"></span>#}
{#                        </a>#}
{#                        <ul class="sub">#}
{#                            <li><a class="" href="general.html">عمومی</a></li>#}
{#                            <li><a class="" href="buttons.html">دکمه ها</a></li>#}
{#                            <li><a class="" href="widget.html">ویجت ها</a></li>#}
{#                            <li><a class="" href="slider.html">اسلایدر ها</a></li>#}
{#                            <li><a class="" href="font_awesome.html">فونت های شکل دار</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="javascript:;" class="">#}
{#                            <i class="icon-cogs"></i>#}
{#                            <span>کامنت ها</span>#}
{#                            <span class="arrow"></span>#}
{#                        </a>#}
{#                        <ul class="sub">#}
{#                            <li><a class="" href="grids.html">گرید</a></li>#}
{#                            <li><a class="" href="calendar.html">تقویم</a></li>#}
{#                            <li><a class="" href="charts.html">چارت</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="javascript:;" class="">#}
{#                            <i class="icon-tasks"></i>#}
{#                            <span>ابزارهای فرم</span>#}
{#                            <span class="arrow"></span>#}
{#                        </a>#}
{#                        <ul class="sub">#}
{#                            <li><a class="" href="form_component.html">کامنت فرم</a></li>#}
{#                            <li><a class="" href="form_wizard.html">فرم Wizard</a></li>#}
{#                            <li><a class="" href="form_validation.html">ارزیابی فرم</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="javascript:;" class="">#}
{#                            <i class="icon-th"></i>#}
{#                            <span>اطلاعات جدول</span>#}
{#                            <span class="arrow"></span>#}
{#                        </a>#}
{#                        <ul class="sub">#}
{#                            <li><a class="" href="basic_table.html">جدول ساده</a></li>#}
{#                            <li><a class="" href="dynamic_table.html">جدول داینامیک</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a class="" href="inbox.html">#}
{#                            <i class="icon-envelope"></i>#}
{#                            <span>ایمیل </span>#}
{#                            <span class="label label-danger pull-right mail-info">2</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="javascript:;" class="">#}
{#                            <i class="icon-glass"></i>#}
{#                            <span>عناصر اضافی</span>#}
{#                            <span class="arrow"></span>#}
{#                        </a>#}
{#                        <ul class="sub">#}
{#                            <li><a class="" href="blank.html">صفحه خالی</a></li>#}
{#                            <li><a class="" href="accounts/profile.html">پروفایل</a></li>#}
{#                            <li><a class="" href="invoice.html">فاکتور</a></li>#}
{#                            <li><a class="" href="404.html">404 Error</a></li>#}
{#                            <li><a class="" href="500.html">500 Error</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li class="active">
                        <a href="{% url 'registration_logout' %}">
                            <i class="icon-user"></i>
                            {% if user.is_authenticated %}
                                <span>خروج</span>
                            {% else %}
                                <span>ثبت نام/ورود</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->


