{% extends "base.html" %}
{%  load static %}
{% block content %}
    <section id="container" class="">
        {% include 'header.html' %}
        {% include 'menu.html' %}
        <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    {% block profile_content %}
                    <!-- page start-->
                    Page content goes here

                    <!-- page end-->
                    {% endblock %}
                </section>
            </section>
        <!--main content end-->
    </section>
{% endblock %}