{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}ورود{% endblock %}


{% block content %}

    <div class="login-body">
          <div class="container">

              <form class="form-signin" action="" method="post">
                  {% csrf_token %}
                <h2 class="form-signin-heading">دریافت کد</h2>
                <div class="login-wrap">
                    <div class="form-group">
                        <label class="control-label" for="id_username">شماره موبایل خود را وارد کنید تا کد فعالسازی برایتان ارسال شود:</label>
                        <div>
                            <input id="id_mobile" type="number" class="form-control" autofocus name="mobile" value="{{ form.mobile.value|default_if_none:"" }}">
                            <span class="error-block">{{ form.mobile.errors }}</span>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success" type="submit">تایید</button>
                    <a class="btn btn-lg btn-warning" href="{% url 'registration_login' %}">بازگشت</a>

                </div>

              </form>

          </div>
    </div>

{% endblock %}


