{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}ورود{% endblock %}


{% block content %}

    <div class="login-body">
          <div class="container">

              <form class="form-signin" action="" method="post">
                  {% csrf_token %}
                <h2 class="form-signin-heading">ورود به حساب کاربری</h2>
                <div class="login-wrap">
                    <p>{{ form.errors }}</p>
                    <input type="number" class="form-control" placeholder="شماره موبایل" id="id_username" autofocus name="username" required="required" value="{{ form.username.value }}">
                    <input type="password" class="form-control" placeholder="کد" id="id_password" name="password" required="required">

                    <button class="btn btn-lg btn-success" type="submit">ورود</button>
                    <a class="btn btn-lg btn-warning" href="{% url 'registration_register' %}">ثبت نام</a>


                    <p><a href="{% url 'new_code' %}" class="forget"> کد خود را فراموش کرده اید؟</a></p>

                </div>

              </form>

          </div>
    </div>

{% endblock %}


