{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}ورود{% endblock %}


{% block content %}

    <div class="login-body">
          <div class="container">

              <form class="form-signin" action="" method="post">
                  {% csrf_token %}
                <h2 class="form-signin-heading">دریافت کد</h2>
                <div class="login-wrap">
                    <div class="form-group">
                        <label class="control-label" for="id_username">شماره موبایل خود را وارد کنید تا کد فعالسازی برایتان ارسال شود:</label>
                        <div>
                            <input id="id_username" type="number" class="form-control" autofocus name="username" placeholder="مثل 09121234567" value="{{ form.username.value|default_if_none:"" }}">
                            <span class="error-block">{{ form.username.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="discount">
                        <label>معرفی شده ام :)</label>
                    </div>
                    <div class="form-group invitation" style="display: none">
                        <label class="control-label" for="id_invitee_invitation_code">کد معرف</label>
                        <div>
                            <input id="id_invitee_invitation_code" class="form-control" autofocus name="invitee_invitation_code" value="{{ form.invitee_invitation_code.value|default_if_none:"" }}">
                            <span class="error-block">{{ form.invitee_invitation_code.errors }}</span>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-success" type="submit">تایید</button>
                    <a class="btn btn-lg btn-warning" href="{% url 'registration_login' %}">بازگشت</a>
                    <script>
                        $('#discount').click(function() {
                          if ($(this).is(':checked')) {
                            $('.invitation').show();
                          }
                        });
                    </script>

                </div>

              </form>

          </div>
    </div>

{% endblock %}


